.editor{
  background-color: white;
  height:300px;
  padding:10px;
  overflow: scroll;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}
.editorCon{
  max-width: 42em;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}
.editorToolbar{
  background-color: darkgrey;
  margin:10px 0;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.hoverMenu{
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity .75s;
}